.form {
  width: 95%;
  margin: auto auto;
}
.form-input input[type=text],
.form-input input[type=tel],
.form-input input[type=number]
{
  -webkit-appearance: none; -moz-appearance: none;
  display: inline-block;
  margin: 0;
  width: 80%; height: 40px;
  line-height: 40px;
  font-size: 20px;
  border: 1px solid #bbb;
  border-radius: 4px;
}
.form-input {
  padding-bottom: 10px;
}
.form-label {
  padding-bottom: 8px;
  padding-top: 10px;
}

.form .hidden-submit {
  border: 0 none;
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.form-input span.validator{
  font-family: FontAwesome, sans-serif;
  font-size: 18pt;
}

.form-input input:valid ~ span.validator::after{
  content: "\f00c";
  color: #006600;
}

.form.post-submit .form-input input[type=tel]:invalid,
.form.post-submit .form-input input[type=number]:invalid,
.form.post-submit .form-input input[type=text]:invalid {
  border: 1px solid red;
  background-color: #ffdddd;
}

.form .form-input input[type=tel]:valid,
.form .form-input input[type=number]:valid,
.form .form-input input[type=text]:valid {
  background-color: #ddffdd;
  border: 1px solid #006600;
}