div.gauge {
	position: relative;
}

div.gauge div.section-wrapper {
	height: 100%;
	overflow: auto;
}

div.gauge div.section {
	height: 405px;
	width: 100px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

div.gauge div.image {
	background-image: url("../../Images/carrot-clear.png");
	z-Index: 2;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

div.gauge div.filler {
	position: absolute;
	z-Index: 1;
	background-color: orange;
	bottom: 0;
	width: 100px;
	/* this is the property to change by percentage to show the gauge */
	height: 0;
}