body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

div.day-summary-table table.leu-summary {
	font-size: 18px;
	width: 100%;
	text-align: center;
	color: #006600;
	border-collapse: collapse;
}

div.day-summary-table table.leu-summary td {
	border: 2px solid black;
}

div.day-summary-table table.leu-summary div.leu-remaining-num {
	font-size: 2.75em;
}

div.day-summary-table table.calorie-summary {
	background-color: gray;
}

div.day-summary-table table.calorie-summary {
	font-size: 18px;
	background-color: gray;
	text-align: center;
	width: 100%;
	border-collapse: collapse;
}

div.day-summary-table table.calorie-summary td {
	border: 2px solid black;
}

div.day-summary-table table.calorie-summary td.top {
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	border-top: 0;
}

/* Hide the calorie table in the food diary */
div.food-diary table.calorie-summary {
	display: none;
}