<head>
	<!--
<link rel="stylesheet" href="scripts/UI/Style/DaySummaryTableStyle.css" />
-->
</head>
<body>
	<div class="DaySummaryTable">
		<table class="LeuSummary">
			<tr>
				<td rowspan="2">
					<div class="LeuRemainingNum"></div>
					<div class="LeuRemainingDesc">mg. Leu Remaining</div>
				</td>
				<td>
					<div class="LeuConsumedNum"></div>
					<div class="LeuConsumedDesc">mg. Leu Consumed</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="LeuAllowedNum"></div>
					<div class="LeuAllowedDesc">Daily Leu Allowed</div>
				</td>
			</tr>
		</table>
		<table class="CalorieSummary">
			<tr>
				<td class="Top"><div class="CalorieGoalNum"></div></td>
				<td class="Top"><div class="CalorieConsumedNum"></div>
				<td class="Top"><div class="CalorieRemainingNum"></div>
			</tr>
			<tr>
				<td><div class="CalorieGoalDesc">Calorie Goal</div></td>
				<td><div class="CalorieConsumedDesc">Current</div>
				<td><div class="CalorieRemainingDesc">Remaining</div>
			</tr>
		</table>
	</div>
</body>