<head>
	<!--
<link rel="stylesheet" href="scripts/UI/Style/DaySummaryTableStyle.css" />
-->
</head>
<body>
	<div class="day-summary-table">
		<table class="leu-summary">
			<tr>
				<td rowspan="2">
					<div class="leu-remaining-num"></div>
					<div class="leu-remaining-desc">mg. Leu Remaining</div>
				</td>
				<td>
					<div class="leu-consumed-num"></div>
					<div class="leu-consumed-desc">mg. Leu Consumed</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="leu-allowed-num"></div>
					<div class="leu-allowed-desc">Daily Leu Allowed</div>
				</td>
			</tr>
		</table>
		<table class="calorie-summary">
			<tr>
				<td class="top"><div class="calorie-goal-num"></div></td>
				<td class="top"><div class="calorie-consumed-num"></div>
				<td class="top"><div class="calorie-remaining-num"></div>
			</tr>
			<tr>
				<td><div class="calorie-goal-desc">Calorie Goal</div></td>
				<td><div class="calorie-consumed-desc">Current</div>
				<td><div class="calorie-remaining-desc">Remaining</div>
			</tr>
		</table>
	</div>
</body>