<!--suppress ALL -->
<html>
<head>
</head>
<body>
<div class="menu-list-container">
    <ul class="menu-list">
        <li class="menu-item">
            <a href="#/daysummary/day/none" class="menu-link">Home</a>
        </li>
        <li class="menu-item">
            <a href="#/fooddiary/day/none" class="menu-link">Diary</a>
        </li>
        <li class="menu-item">
            <a href="#/personalinfoform" class="menu-link">Settings</a>
        </li>
        <li class="menu-item">
            <a href="#/addfood" class="menu-link">Add Food</a>
        </li>
    </ul>
</div>
</body>
</html>