<html>
<head>

</head>
<body>
<form class="form" action="#/personalinfoform/save">
    <div class="form-label">Daily Leucine Allowance</div>
    <div class="form-input">
        <input
                class="widget widget-NumericTextBox"
                title="Your Leucine Allowance"
                data-value='{ "binding": { "source": "leucineAllowance" } }'
                data-validation='{ "binding": { "source": "getLeucineValidationError" } }'
                type="number"
                name="leucineAllowance"
                id="leucineAllowance"
                required
        /><span class="validator"></span>
    </div>
    <div class="form-label">Daily Calorie Goal</div>
    <div class="form-input">
        <input class="widget widget-NumericTextBox"
               type="number"
               title="Your Calorie Goal"
               data-value='{ "binding": { "source": "calorieGoal" } }'
               data-validation='{ "binding": { "source": "getCalorieValidationError" } }'
               name="calorieGoal"
               id="calorieGoal"
               required
        /><span class="validator"></span>

    </div>
    <!-- Here so that enter will submit form as well -->
    <div class="hidden-submit"><input type="submit"/></div>
</form>
</body>
</html>