<html>
<head>
<link rel="stylesheet" href="scripts/UI/Style/DayPickerStyle.css" />
</head>
<body>
	<div class="DayPicker">
		<div class="Container">
			<div class="LeftArrow">&nbsp;</div>
			<div class="DayTitle">&nbsp;</div>
			<div class="RightArrow">&nbsp;</div>
		</div>
	</div>
</body>
</html>

"
<html>
<head>
	<link rel=stylesheet href="scripts/UI/Style/DayPickerStyle.css">
<body>
<div class=DayPicker>
	<div class=Container>
		<div class=LeftArrow>&nbsp;</div>
		<div class=DayTitle>&nbsp;</div>
		<div class=RightArrow>&nbsp;</div>
	</div>
</div>
"